In [1]:
import pandas as pd
from utils import trainManager, getClusterdf, findClosestCentre

In [2]:
# pd.read_excel("/Users/deepamminda/Documents/Geospatial-Clustering/vvs_location_chapter_mongo.xlsx")

In [3]:
df = pd.read_csv("vvs_location_chapter_mongo_2.csv", encoding='latin-1')

/var/folders/f4/217phwcs4x3bntb07b86kr580000gn/T/ipykernel_92662/194007620.py:1: DtypeWarning: Columns (37,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("vvs_location_chapter_mongo_2.csv", encoding='latin-1')

In [15]:
# df.groupby()
print(df.shape)
df.columns
# df["engage_time"]

(101795, 39)

0           5
1          11
2         193
3          75
4          70
         ...
101790     35
101791     20
101792      6
101793     27
101794     14
Name: engage_time, Length: 101795, dtype: int64

In [5]:
df.loc[df["locale 2"]=="0", "locale 2"] = "en"

df["locale 2"].value_counts()

en    101672
hi     86987
Name: locale 2, dtype: int64

In [6]:
df.groupby(['Class', 'locale 2', 'student_id','question_id'])

In [7]:

# int(a)
def func(x):
    try : 
        x = float(x)
    except :
        x = 0.0
    return x

In [8]:
df["longitude"] = df.longitude.apply(func)
df["latitude"] = df.latitude.apply(func)

df = df.loc[(df.latitude!=0.000) & (df.longitude!=0.000)] 
df = df.loc[(df.longitude<=98) & (df.longitude>=60)]
df = df.loc[(df.latitude<=38) & (df.latitude>=8)]

In [9]:
df = df.groupby(['student_id','question_id']).first().reset_index()

In [10]:
poi_cols = ["Class", "locale 2", "student_id", "engage_time", "question_id", "latitude","longitude", "state", "cityData", "chapterData"]
df[poi_cols]
df

,student_id,question_id,_id,view_id,Class,locale,locale 2,answer_id,answer_video,video_time,...,pincode,state,country,tehsil,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,hi,hi.1
0,445,32539688,6343b9d93f414bcd315b9373,3741020231,10,en,en,680025,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,5,...,122002,Haryana,India,0,None,NaN,NaN,NaN,None,None
1,445,412640587,6343b9e93f414bcd315bc713,3741020780,10,en,en,3334571,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,72,...,122002,Haryana,India,0,None,NaN,NaN,NaN,None,None
2,13860,57508,63436de53f414bcd31427725,3740065335,9,en,en,47657,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,198,...,0,Telangana,India,0,None,NaN,NaN,NaN,None,None
3,13860,53795571,6342b4c73f414bcd311284fc,3737925149,9,en,en,17572136,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,154,...,0,Telangana,India,0,None,NaN,NaN,NaN,None,None
4,13860,95420188,63436fca3f414bcd314ad9e6,3740088919,9,en,en,1355566,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,136,...,0,Telangana,India,0,None,NaN,NaN,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101790,272131184,408064273,6343e2303f414bcd31f0e408,3741592935,10,hi,hi,3408511,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,95,...,0,???? ??????,????,0,None,NaN,NaN,NaN,None,None
101791,272131184,642569423,6343de633f414bcd31dfcd85,3741541919,10,hi,hi,5691252,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,10,...,0,???? ??????,????,0,None,NaN,NaN,NaN,None,None
101792,272131184,642856696,6343e6c23f414bcd31037f0c,3741664250,10,hi,hi,5777917,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,6,...,0,???? ??????,????,0,None,NaN,NaN,NaN,None,None
101793,272131184,643543762,6343e5fc3f414bcd3100d9e7,3741649630,10,hi,hi,6227773,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,84,...,0,???? ??????,????,0,None,NaN,NaN,NaN,None,None
101794,272131184,644857516,6343e2c73f414bcd31f3559a,3741603276,10,hi,hi,7461354,https://d3cvwyf9ksu0h5.cloudfront.net/answer-1...,74,...,0,???? ??????,????,0,None,NaN,NaN,NaN,None,None

In [11]:
df.groupby(['Class', 'locale 2']).count()

                student_id  question_id    _id  view_id  locale  answer_id  \
Class locale 2
0     en                14           14     14       14      14         14
      hi                 2            2      2        2       2          2
6     en              1114         1114   1114     1114    1114       1114
      hi               469          469    469      469     469        469
7     en              1216         1216   1216     1216    1216       1216
      hi               594          594    594      594     594        594
8     en              2533         2533   2533     2533    2533       2533
      hi              1240         1240   1240     1240    1240       1240
9     en              5183         5183   5183     5183    5183       5183
      hi              3825         3825   3825     3825    3825       3825
10    en             10585        10585  10585    10585   10585      10585
      hi              9347         9347   9347     9347    9347       9347
11    en             13048        13048  13048    13048   13048      13048
      hi              7565         7565   7565     7565    7565       7565
12    en             16538        16538  16538    16538   16538      16538
      hi             13463        13463  13463    13463   13463      13463
13    en              4290         4290   4290     4290    4290       4290
      hi              3569         3569   3569     3569    3569       3569
14    en              3477         3477   3477     3477    3477       3477
      hi              3204         3204   3204     3204    3204       3204
20    en               519          519    519      519     519        519

                answer_video  video_time  engage_time  created_at  ...  \
Class locale 2                                                     ...
0     en                  14          14           14          14  ...
      hi                   2           2            2           2  ...
6     en                1114        1114         1114        1114  ...
      hi                 469         469          469         469  ...
7     en                1216        1216         1216        1216  ...
      hi                 594         594          594         594  ...
8     en                2533        2533         2533        2533  ...
      hi                1240        1240         1240        1240  ...
9     en                5183        5183         5183        5183  ...
      hi                3825        3825         3825        3825  ...
10    en               10585       10585        10585       10585  ...
      hi                9347        9347         9347        9347  ...
11    en               13048       13048        13048       13048  ...
      hi                7565        7565         7565        7565  ...
12    en               16538       16538        16538       16538  ...
      hi               13463       13463        13463       13463  ...
13    en                4290        4290         4290        4290  ...
      hi                3569        3569         3569        3569  ...
14    en                3477        3477         3477        3477  ...
      hi                3204        3204         3204        3204  ...
20    en                 519         519          519         519  ...

                pincode  state  country  tehsil  Unnamed: 33  Unnamed: 34  \
Class locale 2
0     en             14     14       14      14            0            0
      hi              2      2        2       2            0            0
6     en           1114   1114     1114    1114            0            0
      hi            469    469      469     469            0            0
7     en           1216   1216     1216    1216            0            0
      hi            594    594      594     594            0            0
8     en           2533   2533     2533    2533            0            0
      hi           1240   1240     1240    1240            0            0
9     en           5183   5183     5183    5183            0            0
      hi           3825   3825     3825    3825            0            0
10    en          10585  10585    10585   10585            0            0
      hi           9347   9347     9347    9347            0            0
11    en          13048  13048    13048   13048            0            0
      hi           7565   7565     7565    7565            0            0
12    en          16538  16538    16538   16538            0            0
      hi          13463  13463    13463   13463            0            0
13    en           4290   4290     4290    4290            0            0
      hi           3569   3569     3569    3569            0            0
14    en           3477   3477     3477    3477            0            0
      hi           3204   3204     3204    3204            0            0
20    en            519    519      519     519            0            0

                Unnamed: 35  Unnamed: 36  hi  hi.1
Class locale 2
0     en                  0            0   0     0
      hi                  0            0   0     0
6     en                  0            0   1     1
      hi                  0            0   0     0
7     en                  0            0   1     1
      hi                  0            0   0     0
8     en                  0            0   0     0
      hi                  0            0   0     0
9     en                  0            0   1     1
      hi                  0            0   0     0
10    en                  0            0   1     1
      hi                  0            0   0     0
11    en                  0            0   2     2
      hi                  0            0   0     0
12    en                  0            0   0     0
      hi                  0            0   1     1
13    en                  0            0   0     0
      hi                  0            0   0     0
14    en                  0            0   0     0
      hi                  0            0   0     0
20    en                  0            0   0     0

[21 rows x 37 columns]

In [12]:
# cluster_df.to_csv(f"./cluster_dfs/temppp.csv")

In [13]:
for i, package in enumerate(df.groupby(['Class', 'locale 2',])):
    
    (class_, locale), data = package
    print(class_, locale, data.shape[0])
    # break
    n_clusters=int((data.shape[0]/200) + 1)
    data, cluster_df = trainManager(data, n_clusters, preprocess=False, save_model=False)
    # print(type(cluster_df), data.shape)
    cluster_df.to_csv(f"./cluster_dfs/class_locale_indexed/class_{class_}_{locale}_cluster.csv")

0 en 14
training starting now..
model is trained
0 hi 2
training starting now..
model is trained
6 en 1114
training starting now..
model is trained
6 hi 469
training starting now..
model is trained
7 en 1216
training starting now..
model is trained
7 hi 594
training starting now..
model is trained
8 en 2533
training starting now..
model is trained
8 hi 1240
training starting now..
model is trained
9 en 5183
training starting now..
model is trained
9 hi 3825
training starting now..
model is trained
10 en 10585
training starting now..
model is trained
10 hi 9347
training starting now..
model is trained
11 en 13048
training starting now..
model is trained
11 hi 7565
training starting now..
model is trained
12 en 16538
training starting now..
model is trained
12 hi 13463
training starting now..
model is trained
13 en 4290
training starting now..
model is trained
13 hi 3569
training starting now..
model is trained
14 en 3477
training starting now..
model is trained
14 hi 3204
training starting now..
model is trained
20 en 519
training starting now..
model is trained

fwsebtherteragwrrbh

In [90]:
df_9en = df[(df.Class==9) & (df.locale=="en")]

In [95]:
df_9en
cluster_9en = pd.read_csv("cluster_dfs/class_locale_indexed/class_9_en_cluster.csv", index_col="cluster")

In [99]:
cluster_9en

,city,top_chapters,cluster_population,radius_in_kms,center_lon,center_lat
cluster,,,,,,
0,Ichalkaranji,"{'STRUCTURE OF ATOM': 50, ""NEWTON'S LAW OF MOT...",13,161.10,74.577292,16.600511
1,Agra,"{'ARITHMETIC PROGRESSIONS': 23, 'COORDINATE GE...",60,125.22,78.357372,26.944773
2,Jamshedpur,"{'DIFFERENTIAL EQUATIONS': 15, 'ARITHMETIC PRO...",53,148.97,85.867070,23.255791
3,Kanpur,"{'COORDINATE GEOMETRY': 24, 'POLYNOMIALS': 23,...",106,140.48,80.885792,26.739371
4,Kakinada,"{'EQUILIBRIUM': 11, 'TRIGONOMETRIC RATIOS': 8,...",22,180.94,82.569906,17.510360
5,Jaipur,"{""NEWTON'S LAW OF MOTION"": 33, 'LINES AND ANGL...",48,179.40,75.596125,26.603107
6,Indore,"{'TRIANGLES': 20, 'INDEFINITE INTEGRALS': 13, ...",33,286.46,76.199895,23.104275
7,Bengaluru,"{'THERMAL EXPANSION AND CALORIMETRY': 19, 'REA...",28,282.70,77.252843,12.817794
8,Patna,"{'COORDINATE GEOMETRY': 24, 'TRIGONOMETRIC RAT...",105,129.12,84.725273,25.278675
9,Sri Muktsar Sahib,"{'SURFACE AREA AND VOLUME': 16, 'SOLUTIONS': 1...",24,242.71,74.849122,31.538757
10,Newargaon Kalan,{'CLASSIFICATION OF ELEMENTS AND PERIODICITY I...,33,259.78,80.316607,21.773139
11,Rangia,"{'SOME APPLICATIONS OF TRIGONOMETRY': 13, 'LIN...",18,301.45,91.998647,26.010296
12,Hyderabad,"{'APPLICATION OF DERIVATIVES': 18, 'MATRICES':...",41,246.19,78.454972,17.691342
13,New Delhi,"{'NUMBER SYSTEM': 45, 'POLYNOMIALS': 30, 'TRIA...",142,204.69,77.199445,28.891599
14,Hatta,{'PAIR OF LINEAR EQUATION IN TWO VARIABLES': 1...,32,176.23,79.081345,24.707799
15,Munger,"{'ARITHMETIC PROGRESSIONS': 32, 'QUADRILATERAL...",45,193.85,87.091035,25.482943
16,Prayagraj,"{'REAL NUMBERS': 24, 'NUMBER SYSTEM': 21, 'QUA...",89,154.63,82.339314,25.398685
17,Ahmedabad,"{'STATISTICS': 14, 'ARITHMETIC PROGRESSIONS': ...",42,199.46,72.692091,22.143774
18,Allagadda,"{'NUCLEAR PHYSICS': 20, 'CURRENT ELECTRICITY':...",30,256.02,79.391290,15.172851
19,Muzaffarpur,"{'SEQUENCES AND SERIES': 27, 'ARITHMETIC PROGR...",82,129.77,85.691593,25.905365
20,Navi Mumbai,"{'RECTELINEAR MOTION': 6, 'SEQUENCES AND SERIE...",29,216.96,73.391417,19.439921
21,Bareilly,"{'STRUCTURE OF ATOM': 16, 'COORDINATE GEOMETRY...",29,142.63,79.545504,28.924168
22,Sukdal,"{'SEQUENCES AND SERIES': 24, 'TRIGONOMETRIC RA...",37,121.49,87.851581,23.231768
23,Denuan,"{'GEOMETRICAL OPTICS': 6, 'LOGARITHM AND ITS A...",14,171.42,85.638568,20.341180
24,Gorakhpur,"{'POLYNOMIALS': 25, 'COORDINATE GEOMETRY': 14,...",83,134.71,83.313162,26.637089
25,Jodhpur,"{'RIGID BODY DYNAMICS': 9, 'LINEAR EQUATION IN...",10,152.38,72.749996,26.368769

/Users/deepamminda/virtualenvs/clustering_venv/lib/python3.9/site-packages/geopy/point.py:472: UserWarning: Latitude normalization has been prohibited in the newer versions of geopy, because the normalized value happened to be on a different pole, which is probably not what was meant. If you pass coordinates as positional args, please make sure that the order is (latitude, longitude) or (y, x) in Cartesian terms.
  return cls(*args)

ValueError: Latitude must be in the [-90; 90] range.